@font-face {
    font-family: miso;
    src: url(fonts/miso/miso.otf);
}

@font-face {
    font-family: lato;
    src: url(fonts/lato/lato-light.ttf);
}

body {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fdde7e;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container>div {
    background-color: #ffffff;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container>div:hover {
    box-shadow: 0 2px 5px 2px #413e3e33;
}

.block-bronze,
.block-silver {
    width: 360px;
    height: 440px;
}

.block-gold {
    width: 360px;
    height: 500px;
}

.prise {
    color: #02995b;
    font-size: 70px;
    font-family: miso;
    font-weight: bold;
}

.status {
    font-size: 56px;
    font-family: miso;
}

.deskription {
    font-size: 20px;
    font-family: lato;
}

